.movie_container {
  display: flex;

  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image_container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.movie_image {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.info_container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.movie_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.release_date,
.vote_average {
  font-size: 16px;
  margin: 5px 0;
}
